# Ignore build output
target/
# Ignore Git and IDE files
.git/
.gitignore
.project
.classpath
.settings/
# Ignore system or crash files
hs_err_pid*
*.log
# Ignore frontend or node-related files (if not needed in backend)
node_modules/
package.json
package-lock.json
tsconfig.json
vite.generated.ts
type.d.ts
.prettier*
# Other docs
README.md
LICENSE*
Dockerfile
